!!!
%html{:class => "no-js {% if parent %} parent-{{ parent.slug }} {% endif %} page-{{ slug }} day-{{ site.time | date: '%w' }}", :lang => "en"}
  {% include head.html %}
  %body
    {% include nav.html %}
    %section.main
      {% if page.path contains 'index' %}
      {% include blog.html %}
      {% elsif page.path contains 'blog_tags' %}
      {% include tag.html %}
      {% elsif page.path contains 'work' %}
      {% include projects.html %}
      {% elsif page.path contains 'posts' %}
      {% include article.html %}
      {% else %}
      {% include article.html %}
      {% endif %}
      {% include footer.html %}
    {% include scripts.html %}
