<article class="{% if page.lede == 'yes' %}lede{% endif %}">
  <h2>{{ page.title | smartypants }}</h2>
  {% if content %}
  {{ content }}
  {% endif %}
  {% if page.id %}
  <div class='meta'>
    <time datetime="{{ date | date: '%b %d, %Y' }}">
      Posted on {{ page.date | date: "%B %-d, %Y" }}
    </time>
    {% if page.tags != null %}
    <div class='tags_article'>
      in
      {% for tag in page.tags %}
      <span>
        <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}/">{{ tag }}</a>
      </span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endif %}
</article>
