<footer class="footer">
  <ul>
    {{ if site.contact }} {% for data in site.contact %}
    <li>
      <a
        href="{{ data[1] }}"
        rel="me"
        target="_blank"
        title="{{ site.title }} on {{ data[0] }}"
        >{{ data[0] }}</a
      >
    </li>
    {% endfor %} {{ endif }}
    <li class="copyright">
      &copy;{{ site.time | date: '%Y' }}
      <a
        href="mailto: + {{ site.email }} + ?subject%3DWebsite%20Inquiry"
        target="_blank"
        title="Email {{ site.title }}"
        >{{ site.title }}</a
      >
    </li>
  </ul>
</footer>
