{% for week in page.lost_gems %}
{% for entry in week reversed %}
<h3>{{ entry.week }}</h3>
<figure>
  <a href='{{ entry.link }}' name="{{ entry.week | downcase | replace: ' ', '-' }}" target='_blank' title='{{ entry.title }}'>
    <img alt='{{ entry.week }}' height='' src='{{ entry.image }}' width=''>
  </a>
  {% if entry.caption or entry.title %}
  <figcaption class='textalign--left'>
    <h3>{{ entry.title }}</h3>
    {% if entry.caption or entry.unsplash %}
    <p>
      {{ entry.caption }}
      {% if entry.unsplash %}
      Also available at:
      <a href='{{ entry.unsplash }}' target='_blank'>{{ entry.unsplash }}</a>
      {% endif %}
    </p>
  </figcaption>
  {% endif %}
  {% endif %}
</figure>
{% endfor %}
{% endfor %}
