%article{:class => "{% if page.lede == 'yes' %}lede{% endif %}"}

  %h2 {{ page.title | smartypants }}

  {% if content %}
  {{ content }}
  {% endif %}

  {% if type == "post" %}
  .meta
    %time{:datetime => "{{ date | date: '%b %d, %Y' }}"}
      Posted on {{ date | date: "%b %d, %Y" }}
    {% for tagset in taxonomy %}
    .tags_article
      in
      {% for tag in tagset %}
      %span
        %a{:href => "{{ tag.url }}"} {{ tag.value }}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if page.pages %}
  %nav
    {% for subpage in pages %}
    %a{:href => "{{ subpage.url }}"} {{ subpage.title }}
    {% endfor %}
  {% endif %}

  {% if type == "post" %}
  {% include comments.html %}
  {% endif %}