%header.header{:role => "banner"}
  %h1
    %a{:href => "/", :title => "{{ site.title }}"} {{ site.title }}
  %nav
    {% for page in site.pages %}
    %a{:class => "{% if page.url == url %}active{% endif %}", :href => "{{ page.url }}"} {{ page.title }}
    {% endfor %}