%header.header{:role => "banner"}
  %h1
    %a{:href => "/", :title => "{{ site.title }}"} {{ site.title }}
  %nav
    {% assign sorted_pages = (site.pages | sort: 'position') %}
    {% for page in sorted_pages %}
    %a{:class => "{% if page.url == url %}active{% endif %}", :href => "{{ page.url }}"} {{ page.title }}
    {% endfor %}