<article class="{% if page.lede == 'yes' %}lede{% endif %}">
  <h2>{{ page.title | smartypants }}</h2>
  {% if content %}
  {{ content }}
  {% endif %}
</article>
{% for project in work.posts %}
<a name='{{post.slug}}'></a>
<article class='project'>
  <figure>
    {% for asset in project.assets %}
    <img alt='{{ project.title }}' src='{{ asset.url }}'>
    {% endfor %}
    {% if project.body %}
    <figcaption>{{ project.body }}</figcaption>
    {% endif %}
  </figure>
  {% if project.meta %}
  <dl class='meta'>
    {% for data in project.meta %}
    <div>
      <dt>{{ data.key }}</dt>
      <dd>{{ data.value }}</dd>
    </div>
    {% endfor %}
  </dl>
  {% endif %}
</article>
{% endfor %}
