%article{:class => "{% if page.lede == 'yes' %}lede{% endif %}"}

  %h2 {{ page.title | smartypants }}
  {% if content %}
  {{ content }}
  {% endif %}

{% for project in site.work reversed %}
%a{:name => "{{project.slug}}"}
%article.project
  %figure

    {% for image in project.images %}
    %img{:alt => "{{ project.title }}", :src => "{{ image.path }}"}
    {% endfor %}

    {% if project.content %}
    %figcaption {{ project.content }}
    {% endif %}

  {% if project.meta %}
  %dl.meta
    {% for meta in project.meta %}
    {% for item in meta %}
    %div
      %dt {{ item[0] }}
      %dd {{ item[1] }}
    {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}