%article{:class => "{% if page.lede == 'yes' %}lede{% endif %}"}

  %h2 {{ page.title | smartypants }}
  {% if content %}
  {{ content }}
  {% endif %}

{% for project in site.work %}
%a{:name => "{{project.slug}}"}
%article.project
  %figure

    {% for asset in project.assets %}
    %img{:alt => "{{ project.title }}", :src => "{{ project.image }}"}
    {% endfor %}

    {% if project.content %}
    %figcaption {{ project.content }}
    {% endif %}

  {% if project.meta %}
  %dl.meta
    {% for data in project.meta %}
    %div
      %dt {{ data.key }}
      %dd {{ data.value }}
    {% endfor %}
  {% endif %}

{% endfor %}