<article class="{% if page.lede == 'yes' %}lede{% endif %}">
  <h2>{{ page.title | smartify }}</h2>
  {% if content %}
  {{ content }}
  {% endif %}
</article>
{% for project in site.work reversed %}
<a name='{{project.slug}}'></a>
<article class='project'>
  <figure>
    {% for image in project.images %}
    <img alt='{{ project.title }}' src='{{ image.path }}'>
    {% endfor %}
    {% if project.content %}
    <figcaption>{{ project.content }}</figcaption>
    {% endif %}
  </figure>
  {% if project.meta %}
  <dl class='meta'>
    {% for meta in project.meta %}
    {% for item in meta %}
    <div>
      <dt>{{ item[0] }}</dt>
      <dd>{{ item[1] }}</dd>
    </div>
    {% endfor %}
    {% endfor %}
  </dl>
  {% endif %}
</article>
{% endfor %}
