%article{:class => "{% if meta['lede'] == 'yes' %}lede{% endif %}"}

  %h2
    {{ title|smartypants }}

  {% if body %}
  {{ body }}
  {% endif %}

{% for post in posts %}
%a{:name => "{{post.slug}}"}
%article.project
  %figure

    {% for asset in post.assets %}
    %img{:alt => "{{ post.title }}", :src => "{{ asset.url }}"}
    {% endfor %}

    {% if post.body %}
    %figcaption {{ post.body }}
    {% endif %}

  {% if post.meta %}
  %dl.meta
    {% for data in post.meta %}
    %div
      %dt {{ data.key }}
      %dd {{ data.value }}
    {% endfor %}
  {% endif %}

{% endfor %}