<!DOCTYPE html>
<html class="no-js {% if parent %}parent-{{ parent.slug }} {% endif %}page-{{ slug }} day-{{ site.time | date: '%w' }}" lang='en'>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class='main'>
      <article class='excerpt'>
        HelloWorld
        <ul>
          {% for post in posts %}
          <li>
            <a href='{{ post.url }}'>
              {{ post.title }}
            </a>
            <time>{{ post.date | date: "%B %-d, %Y" }}</time>
          </li>
          {% endfor %}
        </ul>
      </article>
    </section>
    {% include scripts.html %}
  </body>
</html>
