<!DOCTYPE html>
<html class="no-js page-{{ page.title | downcase }} day-{{ site.time | date: '%w' }}" lang='en'>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class='main'>
      {% case page.title %}
      {% when 'Blog' %}
      {% include excerpt.html %}
      {% when 'Work' %}
      {% include projects.html %}
      {% else %}
      {% include article.html %}
      {% endcase %}
      {% include footer.html %}
    </section>
    {% include scripts.html %}
  </body>
</html>
