<!DOCTYPE html>
<html class="no-js page-{{ page.layout }} page-{{ page.title | downcase | replace: ' ', '-' }} day-{{ site.time | date: '%w' }}" lang='en'>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class='main'>
      <article></article>
      <!-- %ul.tags -->
      <!-- BLAH -->
      <!-- {% for tag in site.tags %} -->
      <!-- {% assign t = tag | first %} -->
      <!-- {% assign posts = tag | last %} -->
      <!-- %li {{t | downcase | replace:" ","-" }} has {{ posts | size }} posts -->
      <!-- {% endfor %} -->
      <!--  -->
      <!-- {% for tag in site.tags %} -->
      <!-- {% assign t = tag | first %} -->
      <!-- {% assign posts = tag | last %} -->
      <!--  -->
      <!-- {{ t | downcase }} -->
      <!-- %ul -->
      <!-- {% for post in posts %} -->
      <!-- {% if post.tags contains t %} -->
      <!-- %li -->
      <!-- %a{:href => "{{ post.url }}"} {{ post.title }} -->
      <!-- %span.date {{ post.date | date: "%B %-d, %Y"  }} -->
      <!-- {% endif %} -->
      <!-- {% endfor %} -->
      <!-- {% endfor %} -->
      {{ content }}
      {% include footer.html %}
    </section>
    {% include scripts.html %}
  </body>
</html>
