!!!
%html{:class => "no-js {% if parent %}parent-{{ parent.slug }} {% endif %}page-{{ slug }} day-{{ site.time | date: '%w' }}", :lang => "en"}
  {% include head.html %}

  %body
    {% include nav.html %}

    %section.main
      {% if page.title == 'Blog' %}
      %br
      %br
      %br
      %br
      %br
      THIS IS THE BLOG
      {% else %}
      Do something if condition is false
      {% endif %}

      {{ content }}

      {% include comments.html %}
      {% include footer.html %}

    {% include scripts.html %}