<!DOCTYPE html>
<html class="no-js page-{{ page.layout }} page-{{ page.title | downcase | replace: ' ', '-' }} day-{{ site.time | date: '%w' }}" lang='en'>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class='main'>
      {% if page.path contains 'index' %}
      {% include blog.html %}
      {% elsif page.path contains 'blog_tags' %}
      {% include tag.html %}
      {% elsif page.path contains 'work' %}
      {% include projects.html %}
      {% elsif page.path contains 'posts' %}
      {% include article.html %}
      {% else %}
      {% include article.html %}
      {% endif %}
      {% include footer.html %}
    </section>
    {% include scripts.html %}
  </body>
</html>
