!!!
%html{:class => "no-js {% if parent %}parent-{{ parent.slug }} {% endif %}page-{{ slug }} day-{{ site.time | date: '%w' }}", :lang => "en"}
  {% include head.html %}

  %body
    {% include nav.html %}

    %section.main
      %br
      %br
      %br
      %br
      %br
      PARENT SLUG
      %br
      {{ parent.slug }}
      %br
      %br
      SLUG
      %br
      {{ slug }}
      %br
      %br
      TIME
      %br
      {{ site.time | date: '%w' }}
      %br
      %br
      {{ content }}

      {% include comments.html %}
      {% include footer.html %}

    {% include scripts.html %}