!!!
%html{:class => "no-js {% if parent %}parent-{{ parent.slug }} {% endif %}page-{{ page.title | downcase }} day-{{ site.time | date: '%w' }}", :lang => "en"}
  {% include head.html %}
  %body
    {% include nav.html %}
    %section.main
      {% include projects.html %}
      {% include footer.html %}
    {% include scripts.html %}